<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting id="reverseorder" type="labelenum" label="Episode order" values="Ascending|Descending" default="Descending"/>
	</category>
	<category label="Servers">
		<setting id="serverchoice" type="labelenum" label="Server choice" values="OpenLoad|MyCloud|All" default="All"/>
		<setting id="prefres" label="Prefere Resolution" type="labelenum" values="360p|480p|720p|1080p" default="1080p"/>
		<setting id="autoplay" label="Automatically play first result" type="bool" default="false"/>
	</category>
</settings>
