<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="General">
		<setting id="reverseorder" type="labelenum" label="Episode order" values="Ascending|Descending" default="Descending"/>
		<setting id="displaystyle" type="labelenum" label="Display episodes as" values="Directory|List" default="List"/>
	</category>
	<category label="Servers">
		<setting id="serverg1" type="bool" label="Use G1" default="true"/>
		<setting id="serverg2" type="bool" label="Use G2" default="true"/>
		<setting id="serverf2" type="bool" label="Use F2" default="true"/>
		<setting id="serverf4" type="bool" label="Use F4" default="true"/>
		<setting id="serverrapid" type="bool" label="Use RapidVideo" default="true"/>
		<setting id="servermycloud" type="bool" label="Use MyCloud" default="true"/>
		<setting id="serveropenload" type="bool" label="Use OpenLoad" default="true"/>
		<setting id="prefres" label="Prefere Resolution" type="labelenum" values="360p|480p|720p|1080p" default="1080p"/>
		<setting id="autoplay" label="Automatically play first result" type="bool" default="false"/>
	</category>
</settings>
